<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Renoloty | Hoang Viet Anh</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/images/icon.ico" type="image/x-icon" />
</head>

<body>
    <div id="profile">
        <img id="userPhoto" src="assets/images/pro5.png" alt="Profile picture of Renoloty">
        <div id="userName">
            <h1>Renoloty</h1>
            <p>Freelancer, mainly focused on video editing and 3D.</p>
        </div>
    </div>
    <div id="links">
        <a class="link" href="https://discord.gg/xCFDH69qvt" target="_blank"><i
           class="fa fa-discord" aria-hidden="true"></i>
            Discord server</a>
        <a class="link" href="https://facebook.com/Renoloty" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
        <a class="link" href="https://youtube.com/VA1337" target="_blank"><i class="fa fa-youtube"
                aria-hidden="true"></i> Youtube</a>
        <a class="link" href="https://www.instagram.com/renoloty/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram</a>
        <a class="link" href="https://twitter.com/renoloty" target="_blank"><i class="fa fa-twitter"
                aria-hidden="true"></i>
            Twitter</a>
        <a class="link" href="https://soundcloud.com/renoloty" target="_blank"><i
                class="fa fa-soundcloud" aria-hidden="true"></i>
            SoundCloud</a>
        <a class="link" href="https://space.bilibili.com/1952437010" target="_blank"><i
                class="fa fa-camera-retro" aria-hidden="true"></i>
            Bilibili</a>
    </div>

</body>

</html>
